# EABI, soft-float
BR2_arm926t=y
BR2_ARM_EABI=y
BR2_ARM_SOFT_FLOAT=y
#BR2_ARM_EABIHF=y
#BR2_ARM_FPU_VFPV2=y

# Buildroot glibc toolchain
BR2_TOOLCHAIN_BUILDROOT=y
BR2_TOOLCHAIN_USES_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_VENDOR="buildroot"
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y

# EABI, hard float, Linaro toolchain (requires >= Cortex-A)
#BR2_cortex_a5=y
#BR2_ARM_EABIHF=y
#BR2_ARM_FPU_VFPV3=y
#BR2_TOOLCHAIN_EXTERNAL=y
#BR2_TOOLCHAIN_EXTERNAL_LINARO_ARM=y
