# parallel make, ccache
BR2_JLEVEL=14
BR2_CCACHE=y
BR2_CCACHE_DIR="/tmp/buildroot-ccache-$(BR2_ARCH)"

# enable overlay support (used for custom init scripts)
BR2_ROOTFS_OVERLAY="overlay"

# need cpio for initramfs
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
# compress the tar image
BR2_TARGET_ROOTFS_TAR_XZ=y

# don't run a getty; etc/inittab configured for auto-root login
BR2_TARGET_GENERIC_GETTY=n

# ssh needed for ARM workload-automation
BR2_PACKAGE_DROPBEAR=y

# Testing utils
BR2_PACKAGE_STRESS=y
BR2_PACKAGE_TRACE_CMD=y
